@media (max-width: 767px) {
    .center {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }

    .top {
        &__content {
            justify-content: center;
            align-items: center;
            padding-left: 24px;
            padding-right: 24px;
        }

        &__title {
            font-size: 40px !important;
            text-align: center !important;
        }

        &__text {
            font-size: 16px !important;
            text-align: center;  
        }

        &__button {
           &--desk {
            display: none !important;
           }

           &--mob{
            display: flex !important;
            min-width: 285px;
            font-size: 16px !important;
           }
        }

        &__star {
            &--1 {
                top: 97px !important;
                left: 37px !important;
                width: 35px;
                height: 35px;
            }

            &--2 {
                top: 64px !important;
                left: 91px !important;
                width: 21px;
                height: 21px;
            }

            &--3 {
                right: 34px !important;
                bottom: 28px !important;
                width: 39px;
                height: 41px;
            }

            &--4 {
                right: 86px !important;
                bottom: 74px !important;
                width: 18px;
                height: 18px;
            }

            &--5 {
                display: none !important;
            }

            &--mob {
                display: block !important;
                bottom: 477px;
                left: 187px;
            }
        }

       
    }

    .spripe {
        height: 51px !important;
        gap: 27px !important;

        &__link {
            font-size: 16px !important;
        }

        &__star {
            width: 19px;
            height: 19px;
        }
    }

    .product {
        display: none;
    }

    .mini-games {
        padding-top: 48px !important;
        padding-bottom: 17px !important;

        &__title {
            font-size: 40px !important;
            margin-bottom: 48px !important;
        }

        &__stars {
            display: none;
        }
    }

    .game-card {
        width: 100% !important;
        height: auto !important;
        grid-template-columns: 1fr !important;
        grid-template-rows: auto auto;
        border-radius: 27px !important;

        &__content {
            order: 2;
            padding: 29px 29px 32px 29px !important;
        }

        &__name {
            font-size: 32px !important;
            margin-bottom: 16px !important;
            width: 284px !important;
        }

        &__description {
            font-size: 16px !important;
            width: 249px !important;
            margin-bottom: 32px !important;
        }

        &__button {
            width: 285px !important;
            height: 55px !important;
            font-size: 16px !important;
        }

        &__image {
            order: 1;
            width: 343px; 
        }

        &__img {
            border-radius: 27px !important;
        }
    }

    .footer {
        height: 100px !important;

        &__link {
            font-size: 16px !important;
        }

    }



}

